.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
}

.pickerTop, .pickerBottom {
    z-index: 2;
    height: 15px;
    width: 15px;
    border: solid 2px #FF00E6;
    position: absolute;
    background-color: #191919;
    transform: rotate(45deg);
}

.pickerTop {
    top: -10px;
}

.pickerBottom {
    bottom: -10px;
}

.data {
    z-index: 3;
    height: 25px;
    width: 60px;
    border: solid 1px #FF00E6;
    border-radius: 12px;
    background-color: #090909;
}

.data span {
    font-weight: 500;
}

.unit {
    font-weight: 300;
    font-size: small;
    margin-left: 4px;
}