.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 50px;
    border-top: solid 2px #FF00E6;
}

.icon {
    position: absolute;
    width: 40px;
}

.data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
    overflow-y: scroll;
    scrollbar-color: rgb(71, 71, 71) transparent;
    scrollbar-width: thin;
}

.data::-webkit-scrollbar {
    width: 8px;
}

.data::-webkit-scrollbar-track {
    background: transparent;
}

.data::-webkit-scrollbar-thumb {
    background: rgba(71, 71, 71, 0.7); 
}

.item {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    /* font-weight: bold; */
    position: relative;
}

.item .money {
    position: absolute;
    top: 10px;
    left: 6%;
}

.item .controlPanel {
    position: absolute;
    top: 10px;
    right: 6%;
    display: flex;
    flex-direction: column;
}

.item .controlPanel .button {
    height: 20px;
    width: 20px;
}

.item .content {
    min-width: 90%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item .borderBottom, .item .borderTop {
    min-width: 90%;
    min-height: 10px;
    border-left: solid 2px #FF00E6;
    border-right: solid 2px #FF00E6;
}

.item .borderBottom {
    border-bottom: solid 1px #FF00E6;
}

.item .borderTop {
    border-top: solid 1px #FF00E6;
}

.item .date {
    width: 20%;
    height: 25px;
    border: solid 2px #FF00E6;
    border-top: none;
    border-radius: 0 0 25px 25px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #090909;
}

.item .timeTrack {
    height: 50px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.item .activityTrack {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activity .name {
    margin-right: 12px;
}