.container {
    position: absolute;
}

.imageBox {
    z-index: -1;
    transform-origin: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.Swing {
    animation-name: swing;
}

.SwingOposite {
    animation-name: swingOposite;
}

@keyframes swing {
    0% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    100% { transform: rotate(30deg); }
}

@keyframes swingOposite {
    0% { transform: rotate(-30deg); }
    50% { transform: rotate(30deg); }
    100% { transform: rotate(-30deg); }
}